{% extends 'base.html.twig' %}

{% block title %}Se connecter | Congés{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

<html>
<head>
</head>


<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <body>
    <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <div class="tittleform">
                    <div class="d-flex align-items-center justify-content-center mb-0" style="height: 250px;">
                        <div class="p-2 m-2 bg-black text-white shadow rounded-2">
                            Se connecter
                        </div><br>
                    </div>
                </div>
            </div>

        <div class="loginform">
                <div class="d-flex align-items-center justify-content-center mt-0" style="height: 0px;">
                <label for="inputUsername" >Nom d'utilisateur</label><br>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="height: 70px;">
                <input type="text" class="resizedTextbox" value="{{ last_username }}" name="username"  id="inputUsername" class="form-control" autocomplete="username" required autofocus><br><br>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="height: 30px;">
                <label for="inputPassword">Mot de passe</label><br>
                </div>
                <div class="d-flex align-items-center justify-content-center" style="height: 50px;">
                <input type="password" class="resizedTextbox" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br><br>
                </div>
            </div>

        <div class="d-flex align-items-center justify-content-center" style="height: 90px;">
        <div class="remembermeform">
        </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3">
                        <label>
                         <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label><br>
                    </div>
                </input>
            </div>



        <div class="d-flex align-items-center justify-content-center" style="height: 100px;">
            <div class="loginsubmitform">

            </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
    </div>
    </body>
</form>
</html>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}


