{% extends 'base.html.twig' %}

{% block title %}Se connecter | Congés{% endblock %}

{% block body %}

<html>


<head>
    {% include('inc/nav.html.twig') %}
</head>


<form method="post">


    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté sous le pseudo {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}



    <body>

        <div class="container1">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        </div>

        <div class="container2"
    <label for="inputUsername" >Nom d'utilisateur</label><br>

    <input type="text" class="resizedTextbox" value="{{ last_username }}" name="username"  id="inputUsername" class="form-control" autocomplete="username" required autofocus><br><br>

    <label for="inputPassword">Mot de passe</label><br>

    <input type="password" class="resizedTextbox" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br><br>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label><br>
        </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>

        </div>


    </body>
</form>
</html>
{% endblock %}

