{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>Congé</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ conges.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ conges.title }}</td>
        </tr>
        <tr>
            <th>Début</th>
            <td>{{ conges.start ? conges.start|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ conges.end ? conges.end|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ conges.description }}</td>
        </tr>
        <tr>
            <th>Background_color</th>
            <td>{{ conges.backgroundColor }}</td>
        </tr>
        <tr>
            <th>Border_color</th>
            <td>{{ conges.borderColor }}</td>
        </tr>
        <tr>
            <th>Text_color</th>
            <td>{{ conges.textColor }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gerersesconges_voirsesconges') }}">Retourner a la liste</a>

    <a href="{{ path('app_gerersesconges_modifierconges', {'id': conges.id}) }}">Modifier</a>

    {{ include('gerersesconges/_delete_form.html.twig') }}
{% endblock %}