{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <h1>Congé</h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ congesdemande.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ congesdemande.titre }}</td>
        </tr>
        <tr>
            <th>Début</th>
            <td>{{ congesdemande.dateDebut? congesdemande.dateDebut|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ congesdemande.dateFin ? congesdemande.dateFin|date('d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ congesdemande.description }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gerersesconges_voirsesconges') }}">Retourner a la liste</a>

    <a href="{{ path('app_gerersesconges_modifierconges', {'id': congesdemande.id}) }}">Modifier</a>

    {{ include('gerersesconges/_delete_form.html.twig') }}
{% endblock %}