{% extends 'base.html.twig' %}

{% block title %}Inscription | Congés{% endblock %}

{% block body %}

<html>


<head>

</head>
<body>
<div class="containertitle">
    <h1>Inscription</h1>
</div>

<div class="containerform">
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm)}}<br>
<div class="boutton">
    <button class="btn btn-lg btn-primary" type="submit">
        Valider l'inscription
    </button>
</div>

    {{ form_end(registrationForm) }}
</div>

  <div class="message">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


  </div>
</body>
</html>
{% endblock %}
