<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!-- Container contenant toute la NavBar -->
    <div class="container-fluid ms-5">


    <!-- Titre de la NavBar -->
        <div class="acceuilfont" >
            <a class="navbar-brand" href="{{ path('homepage') }}">Congés</a>
        </div>


        <!-- Bouton du mode mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


                        <!-- Option du bouton de navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-1 ms-5 my-auto ">


                    <!-- Si user est connecté alors il pourra voir -->
                    {% if app.user %}

                        <li class="nav-item ms-0 me-5 my-3">
                            <div class="gerersescongesfont">
                                <a class="nav-link" aria-current="page" href="{{ path('app_gestionconges') }}">
                                    Gérer ses congés
                                </a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <li class="nav-item ms-0 me-5 my-3">
                                <div class="planningfont">
                                    <a class="nav-link" href="{{ path('app_fucking_calendrier') }}">
                                        Planning
                                    </a>
                                </div>
                            </li>
                        </li>

                    {% endif %}


                    <!-- Dropdown menu DRH - Si user a le role DRH alors il pourra voir -->
                    {% if is_granted("ROLE_DRH") %}

                        <li class="nav-item dropdown ms-0 me-5 my-3">
                            <div class="panneaudrhfont">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Panneau DRH
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Non défini</a></li>
                                    <li><a class="dropdown-item" href="#">Non défini</a></li>
                                    <li><a class="dropdown-item" href="#">Non défini</a></li>
                                </ul>
                            </div>
                        </li>

                    {% endif %}


                    <!-- Dropdown menu DRH - Si user a le role admin alors il pourra voir -->
                    {% if is_granted("ROLE_ADMIN") %}

                        <li class="nav-item dropdown ms-0 me-5 my-3">
                            <div class="panneauadminfont">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Panneau admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('app_adminapp_dashboard') }}">Dashboard</a></li>
                                    <li><a class="dropdown-item" href="#">Non défini</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                                </ul>
                            </div>
                        </li>

                    {% endif %}


                    <!-- Si user est connecté alors il pourra voir -->
                    {% if app.user %}

                        <li class="nav-item ms-0 me-5 my-3">
                            <div class="profilfont">
                                <a class="nav-link" href="{{ path('app_profil') }}">
                                    Profil
                                </a>
                            </div>
                        </li>

                    {% endif %}


                    <!-- Connexion/deconnection si user est déconnecté/connecté -->

                    {% if app.user %}

                        <a href="{{ path('app_logout') }}" class="btn btn-secondary btn-pull-right rightcssbtn ms-0 me-auto my-auto" role="button">
                            Se déconnecter ({{ app.user.username }})
                        </a>

                    {%else %}

                        <a href="{{ path('app_login') }}" class="btn btn-secondary btn-pull-right rightcssbtn ms-0 me-auto my-auto" role="button">
                            Se connecter
                        </a>

                    {% endif %}

                </ul>

            </div>

    </div>

</nav>

</body>
{% block body %}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</html>
