
<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap.base.css') }}">

<nav>
    <ul>
        {%if app.user %}
        <li><a href="{{ path('homepage') }}" title="Acceuil">Acceuil</a> </li>
        <li><a href="{{ path('app_logout') }}" title="Logout">Se déconnecter ({{ app.user.username }}) </a> </li>

        {%else %}
        <li><a href="{{ path('app_login') }}" title=Login">Connexion</a> </li>
        {% endif %}
        <li><a href="{{ path('app_register') }}" title="Register">S'inscrire</a> </li>

    </ul>

</nav>